@{
    ViewBag.Title = "About";
}

<div class="bg-light">
    <div class="container">
        <h1 class="text-center text-info" style="padding-top:50px"><strong>Về chúng tôi</strong></h1>
        <div class=" row justify-content-around">
            <div class="col-5 center card shadow-lg about">
                <div class="text-center about-img">
                    <img class="img-circle" src="~/Content/Image/avatar/sang.jpg" width="230px" height="230px">
                </div>
                <h1 class="text-center"><strong>Phạm Minh Sang</strong></h1>
                <ul>
                    <li>Email: harley20005@gmail.com</li>
                    <li>MSSV: 1811240476</li>
                    <li>Lớp: 18DTHJB1</li>
                </ul>
            </div>
            <div class="col-5 center card shadow-lg about">
                <div class="text-center about-img">
                    <img class="img-circle" src="~/Content/Image/avatar/duc.jpg" width="230px" height="230px">
                </div>
                <h1 class="text-center"><strong>Lê Anh Đức</strong></h1>
                <ul>
                    <li>Email: ducle6487@gmail.com</li>
                    <li>MSSV: 1811062916</li>
                    <li>Lớp: 18DTHJB1</li>
                </ul>
            </div>
        </div>
    </div>
</div>  