@{
    ViewBag.Title = "Home Page";
}

<div class="background-body">
    <div class="box-200h"></div>
    <div class="container justify-content-center">
        <div class="jumbotron  intro-home">
            <h1><strong>Welcome to Tutor Finding Online!</strong></h1>
            <p>
                Learning online means there’s no need to travel to your sessions and you have access to the best
                tutors from all around the country from the comfort of your home.
            </p>
            <a class="btn btn-success">Finding now</a>
        </div>
        <div class="row justify-content-center">
            <h2 class="Maxim"><strong>Knowledge is power</strong></h2>
        </div>
        
    </div>
    
</div>