@{
    ViewBag.Title = "Home Page";
}

<div class="background-body">
    <div class="box-200h"></div>
    <div class="container justify-content-center">
        <div class="jumbotron  intro-home">
            <h1><strong>Chào mừng bạn đến với Tìm kiếm Gia sư Trực tuyến!</strong></h1>
            <p>
                Học trực tuyến có nghĩa là không cần phải di chuyển đến những nơi khác và bạn có quyền truy cập vào những thứ tốt nhất
                gia sư từ khắp nơi trên đất nước sẽ xuất hiện trong nhà của bạn.
            </p>
            <a class="btn btn-success" href="~/Home/FindTutor">Tìm kiếm ngay</a>
        </div>
        <div class="row justify-content-center">
            <h2 class="Maxim shadow-lg"><strong>Tri thức là sức mạnh</strong></h2>
        </div>
        
        <div class="row home-intro-2">
            <div class="col-6">
                <video width="445px" height="250px" src="https://www.youtube.com/watch?v=gVlYxmdbYqM&list=PL87xs3-aQEEPfX5y4xvTQFsGHDbDe1tUH&index=29" controls></video>
            </div>
            <div class="col-6">
                <h4>
                    Keep your family’s
                    <span>tuition on track</span> with Tutorful
                </h4>
                <p>Learning online means there’s no need to travel to your sessions and you have access 
                to the best tutors from all around the country from the comfort of your home.</p>
            </div>
        </div>

        <div class="home-intro-3 ">
            <div>
                <h1 class="text-center"><strong>Phụ huynh và gia sư yêu chúng tôi</strong></h1>
                <p class="text-center">Nhưng đừng coi thường lời của chúng tôi, <span>hãy xem những sinh viên và gia sư sử dụng trang web của chúng tôi đã nói gì ...</span></p>
            </div>
            <div class="row justify-content-around">
                <div class="box-320-800 col-3  bg-light review-home container justify-content-center ">
                    <a class="row justify-content-center" href="#">
                        <h5>
                            <strong>Tiến bộ tuyệt vời</strong>
                        </h5>
                        <img src="~/Content/Image/avatar/hoangquan.jpg" width= width="100%" height="100%" />
                        <p>
                            “Các thầy cô giáo ở đây rất nhiệt tình và thân thiện với học trò, học trò thì rất thoải mái và tự tin, quan trọng hơn hết là tinh thần ham học của bé thể hiện rất rõ.”
                        </p>
                        <h6><span>Phạm Nhật Vượng</span></h6>
                        <h6> - Phụ huynh</h6>
                    </a>
                </div>
                <div class="review-home box-320-800 col-3  bg-light container justify-content-center ">
                    <a class="row justify-content-center" href="#">
                        <h5>
                            <strong>Chất lượng tốt</strong>
                        </h5>
                        <img src="~/Content/Image/avatar/avatar2.png" width="100%" height="100%" />
                        <p>
                            “Giáo viên nhiệt tình. Cơ sở vật chất của Trường có chất lượng tốt. Tôi đồng ý với chương trình giảng dạy của Trường và Trường có nhiều sự lựa chọn về các hoạt động ngoại khóa.”
                        </p>
                        <h6><span>Steve Job</span></h6>
                        <h6> - Phụ huynh</h6>
                    </a>
                </div>
                <div class="box-320-800 col-3 review-home bg-light container justify-content-center">
                    <a class="row justify-content-center" href="#">
                        <h5>
                            <strong>Cải thiện rất tốt</strong>
                        </h5>
                        <img src="~/Content/Image/avatar/avatar3.jpg" width="100%" height="100%" />
                        <p>
                            “Tôi để ý thấy các em thoải mái với việc học của mình, các em tự tin hơn và có thể phát triển một cách tự nhiên. Nhà trường giúp các em cải thiện trình độ tiếng Anh.”
                        </p>
                        <h6><span>Mark Zuckerburg</span></h6>
                        <h6> - Phụ huynh</h6>
                    </a>

                </div>
            </div>
            
        </div>
    </div>
    
</div>