@{
    ViewBag.Title = "Home Page";
}

<div class="background-body">
    <div class="box-200h"></div>
    <div class="container justify-content-center">
        <div class="jumbotron  intro-home">
            <h1><strong>Welcome to Tutor Finding Online!</strong></h1>
            <p>
                Learning online means there’s no need to travel to your sessions and you have access to the best
                tutors from all around the country from the comfort of your home.
            </p>
            <a class="btn btn-success" href="#">Finding now</a>
        </div>
        <div class="row justify-content-center">
            <h2 class="Maxim shadow-lg"><strong>Knowledge is power</strong></h2>
        </div>
        
        <div class="row home-intro-2">
            <div class="col-6">
                <video width="445px" height="250px" src="https://www.youtube.com/watch?v=gVlYxmdbYqM&list=PL87xs3-aQEEPfX5y4xvTQFsGHDbDe1tUH&index=29" controls></video>
            </div>
            <div class="col-6">
                <h4>
                    Keep your family’s
                    <span>tuition on track</span> with Tutorful
                </h4>
                <p>Learning online means there’s no need to travel to your sessions and you have access 
                to the best tutors from all around the country from the comfort of your home.</p>
            </div>
        </div>

        <div class="home-intro-3 ">
            <div>
                <h1 class="text-center"><strong>Parents and tutors love us</strong></h1>
                <p class="text-center">But don’t take our word for it, <span>see what students and tutors who use our site have said...</span></p>
            </div>
            <div class="row justify-content-around">
                <div class="box-320-800 col-3  bg-light review-home container justify-content-center ">
                    <a class="row justify-content-center" href="#">
                        <h5>
                            <strong>Fantastic progress</strong>
                        </h5>
                        <img src="~/Content/Image/background.jpg" width= width="100%" height="100%" />
                        <p>
                            Patrick's progress since using Tutorful has been nothing short of outstanding.
                            He's gone from getting Cs, and is now on track for A-star.
                        </p>
                        <h6><span>Val K</span></h6>
                        <h6> - Parent</h6>
                    </a>
                </div>
                <div class="review-home box-320-800 col-3  bg-light container justify-content-center ">
                    <a class="row justify-content-center" href="#">
                        <h5>
                            <strong>Thousands of reviews</strong>
                        </h5>
                        <img src="~/Content/Image/background.jpg" width="100%" height="100%" />
                        <p>
                            After looking at a lot of tutoring companies, we found the reviews and ease
                            of use on Tutorful miles ahead of the others. quá vjp pro lun
                        </p>
                        <h6><span>Steve B</span></h6>
                        <h6> - Parent</h6>
                    </a>
                </div>
                <div class="box-320-800 col-3 review-home bg-light container justify-content-center">
                    <a class="row justify-content-center" href="#">
                        <h5>
                            <strong>Build confidence</strong>
                        </h5>
                        <img src="~/Content/Image/background.jpg" width="100%" height="100%" />
                        <p>
                            Since I've had a tutor, I've had a lot more confidence and I've started putting my hand
                            up in class again. Web quá đỉnh. thầy không cho 10 điểm hơi phí
                        </p>
                        <h6><span>Tom B</span></h6>
                        <h6> - Student</h6>
                    </a>

                </div>
            </div>
            
        </div>
    </div>
    
</div>