@model FindingTutor.Models.TeacherModel
@{
    ViewBag.Title = "EditPassword";
}

<!-- Edit Account -->
<div class="container bg-light" style="margin-top:100px;padding-top:100px;padding-bottom:100px">
    <div class="text-center">
        <h1>Đổi password</h1>
        <h3>@ViewBag.Mess</h3>
    </div>
    <div class="box-735w edit-form">
        @using (Html.BeginForm("EditPassword", "Tutor", FormMethod.Post, new {@class= "form-horizontal"}))
        {
            <div class="form-group">
                <label for="exampleFormControlInput1">Password</label>
                <input type="password" class="form-control" name="Password">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">New password</label>
                <input type="password" class="form-control" name="NewPassword">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Xác nhận password</label>
                <input type="password" class="form-control" name="CheckNewPass">
            </div>
            <input class="btn btn-success " type="submit" value="EditAccount">
        }
    </div>
</div>
<!-- /edit account -->
