
@{
    ViewBag.Title = "EditProfile";
}
<div class="container">
    <div class="text-center">
        <h1>Edit profile's Phamj Minh Sang</h1>
    </div>

    <div class="box-735w edit-form">
        <form class="form-horizontal" name="Profile">
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Phone</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Price</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Bio</label>
                <input type="text" class="form-control">
            </div>

            <input class="btn btn-success " type="button" value="edit">
        </form>
    </div>
</div>