@model FindingTutor.Models.TeacherModel
@{
    ViewBag.Title = "EditPassword";
}

<!-- Edit Account -->
<div class="container bg-light" style="margin-top:100px;padding-top:100px;padding-bottom:100px">
    <div class="text-center">
        <h1>Đổi mật khẩu</h1>
        @if (ViewBag.Mess != null)
        {
            <div class="alert">
                <span class="closebtn">&times;</span>
                <strong>Danger!</strong> @ViewBag.Mess.ToString()
            </div>
        }
    </div>
    <div class="box-735w edit-form">
        @using (Html.BeginForm("EditPassword", "Tutor", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label for="exampleFormControlInput1">Mật khẩu</label>
                <input type="password" class="form-control" name="Password" pattern=".{6,18}" title="Mật khẩu phải có ít nhất 6 ký tự đến 18 ký tự" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Mật khẩu mới</label>
                <input type="password" class="form-control" name="NewPassword" pattern=".{6,18}" title="Mật khẩu phải có ít nhất 6 ký tự đến 18 ký tự" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Xác nhận mật khẩu</label>
                <input type="password" class="form-control" name="CheckNewPass" pattern=".{6,18}" title="Mật khẩu phải có ít nhất 6 ký tự đến 18 ký tự" required>
            </div>
            <input class="btn btn-success " type="submit" value="Thay đổi">
        }
    </div>
</div>
<!-- /edit account -->