
@{
    ViewBag.Title = "Profile";
}
<div class="container-fluid bg-ebeff2 shadow-lg">
    <div class="row justify-content-between">
        <div class="col-3 profile ">
            <div class="box-370-570 shadow profile-card bg-white">
                <div class="card-title profile-head ">
                    <img class="teach-img" src="../../Content/Image/background.jpg" width="100%" height="100%">
                </div>
                <div class="card-body row justify-content-around ">
                    <div class="col-5 profile-box">
                        <img class="glyphicon glyphicon-time">
                        <p class="profile-text"><strong>1336+ hrs taught</strong></p>
                    </div>
                    <div class="col-5 profile-box ">
                        <img class="glyphicon glyphicon-pencil">
                        <p class="profile-text"><strong>Replies in 1 hour</strong></p>
                    </div>
                </div>
                <div class="card-footer" style="background-color: #ffffff;border:none">
                    <input class="profile-btn bg-success text-light" type="button" value="Request Lesson">
                    <input class="profile-btn" type="button" value="Contact me">
                </div>
            </div>
        </div>
        <!-- Profile Card -->
        <!-- Profile Review -->
        <div class="col-9 container">
            <div class="head-review">
                <h2>
                    <strong>Parissa C</strong><h2>
                        <h4>bfdjfjs ndf hjsdfhsdjkf jhsd fjh</h4>
            </div>
            <!-- Bio -->
            <div class="card shadow profile-intro">
                <h3 class="text-center"><strong>My bio</strong></h3>
                <h6 class="text-center"><strong>Passionate French/ Spanish/ Persian qualified teacher</strong></h6>
                <p>
                    Enthusiastic linguist and ex- Head of Languages with 22 years experience of teaching in various environments,
                    in both primary and secondary schools as well as teaching adults’ courses. I love teaching languages,
                    encouraging and supporting my students in their learning.
                    </br></br>
                    My students benefit from a tutor with an excellent accent,  subject knowledge, and a wealth of resources,
                    interactive or traditional to challenge them where necessary, , and to support them in their language learning
                    journey. I treat each tutee individually as everyone’s need is different. During the 1st session,
                    this will be discussed to help me plan lessons accordingly.
                    </br></br>
                    Homework is set every week and expected to be completed as this will demonstrate the student’s learning
                    and help them make progress.
                </p>
            </div>
            <!-- Review -->
            <div class="card shadow profile-intro">
                <h3 class="text-center"><strong>My Review</strong></h3>
                <div class="profile-review">
                    <div class="row justify-content-between ">
                        <div class="col-2 text-center">
                            <img src="../../Content/Image/background.jpg" class="img-circle img-comment" width="100%" height="100%">
                            <p>sfsf dsfad</p>
                        </div>
                        <div class="col-10">
                            <div>
                                <p>
                                    Very well organised, dedicated and well run lessons. My son is absolutely loving his
                                    French sessions wity Parissa and he is really getting to grips with French now and is more confident.
                                    I am sure his results will be improved in the school as well. Thank you....
                                </p>
                            </div>
                            <div class="float-right"><p class="review-time">12-2-2021</p></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-between ">
                        <div class="col-2 text-center">
                            <img src="../../Content/Image/background.jpg" class="img-circle img-comment" width="100%" height="100%">
                            <p>sdsad</p>
                        </div>
                        <div class="col-10">
                            <div>
                                <p>
                                    Very well organised, dedicated and well run lessons. My son is absolutely loving his
                                    French sessions wity Parissa and he is really getting to grips with French now and is more confident.
                                    I am sure his results will be improved in the school as well. Thank you....
                                </p>
                            </div>
                            <div class="float-right"><p class="review-time">12-2-2021</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Subject -->
            <div class="card shadow profile-intro">
                <h3 class="text-center"><strong>My Subject</strong></h3>
                <h5>I teach the following subjects:</h5>
                <ul>
                    <li>Tiếng Anh A1</li>
                </ul>
            </div>
        </div>
    </div>
</div>